{{> header}}
<main>
    {{#each posts as |post|}}
    <article>
        <h3>{{post.title}}</h3>
        <p>By: {{post.author_id}}</p>
        <p>On: {{format_time post.createdAt}}</p>
        <p>{{post.content}}</p>
    </article>
    {{/each}}
</main>