{{> header}}
<main>
    <div>
        <h2>Sign In</h2>
        <form id="sign-in-form">
            <label for="email">Email Address</label>
            <input id="sign-in-email" name="email"/>
            <Label for="password">Password</Label>
            <input id="sign-in-password" name="password" type="password"/>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div>
        <h2>Sign Up</h2>
        <form id="sign-up-form">
            <label for="username">Username</label>
            <input id="sign-up-username" name="username"/>
            <label for="email">Email Address</label>
            <input id="sign-up-email" name="email"/>
            <Label for="password">Password</Label>
            <input id="sign-up-password" name="password" type="password"/>
            <button type="submit">Submit</button>
        </form>
    </div>
</main>
<script src="js/login.js"></script>