{{> header}}
<main class="container row">
    <div class="col-sm-12 col-md-6">
        <h2>Sign In</h2>
        <form id="sign-in-form">
            <label class="form-label" for="email">Email Address</label>
            <input class="form-control" id="sign-in-email" name="email"/>
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="sign-in-password" name="password" type="password"/>
            <button class="btn btn-dark" type="submit">Submit</button>
        </form>
    </div>
    <div class="col-sm-12 col-md-6">
        <h2>Sign Up</h2>
        <form id="sign-up-form">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" id="sign-up-username" name="username"/>
            <label class="form-label" for="email">Email Address</label>
            <input class="form-control" id="sign-up-email" name="email"/>
            <label class="form-label" for="password">Password</label>
            <input class="form-control" id="sign-up-password" name="password" type="password"/>
            <button class="btn btn-dark" type="submit">Submit</button>
        </form>
    </div>
</main>
<script src="js/login.js"></script>