{{> header}}
<main class="container">
    <h2>Post your thoughts here...</h2>
    <form id="blogpost-form">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" name="title" id="blogpost-title" required></input>
        <label class="form-label" for="content">Content</label>
        <textarea class="form-control" name="content" id="blogpost-content" rows="10" required></textarea>
        <button class="btn btn-dark" type="submit">Submit</button>
    </form>
</main>
<script src="js/blogpost.js"></script>