{{> header}}
<main>
    <article>
        <h3>{{post.title}}</h3>
        <p>By: {{post.user.username}}</p>
        <p>On: {{format_time post.createdAt}}</p>
        <p>{{post.content}}</p>
    </article>
</main>
<!--<script src="/js/edit-post.js"></script>-->